.container{
    padding: 3rem;
}
.box{
    height: 10px;
    display: block;
    background-color: red;
}
.message-error{
    opacity: 0;
    color: red;
    transition: all linear .5s;
}

.message-error.show{
    opacity: 1;
}